# Copyright (c) 2021 Nordic Semiconductor ASA
# Copyright (c) 2024 Spark Engineering
# SPDX-License-Identifier: Apache-2.0

config BOARD_CANFD_INTERFACE
	select SOC_STM32G0B1XX
        select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE
